<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>csrfFilter</filter-name>
        <filter-class>com.furniture.filter.CsrfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>csrfFilter</filter-name>
        <url-pattern>/member</url-pattern>
        <url-pattern>/manage/admin</url-pattern>
        <url-pattern>/manage/furnManage</url-pattern>
        <url-pattern>/cartServlet</url-pattern>
        <url-pattern>/orderServlet</url-pattern>
        <url-pattern>/customer</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>com.furniture.filter.AuthFilter</filter-class>
        <init-param>
            <param-name>excludeUrls</param-name>
            <param-value>/views/manage/manage_login.jsp,/views/member/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/cartServlet</url-pattern>
        <url-pattern>/manage/furnManage</url-pattern>
        <url-pattern>/orderServlet</url-pattern>
        <url-pattern>/views/manage/*</url-pattern>
        <url-pattern>/views/cart/*</url-pattern>
        <url-pattern>/views/order/*</url-pattern>
        <url-pattern>/views/member/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>com.furniture.filter.TransactionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>member</servlet-name>
        <servlet-class>com.furniture.web.memberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>member</servlet-name>
        <url-pattern>/member</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>com.furniture.web.adminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/manage/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>furnManage</servlet-name>
        <servlet-class>com.furniture.web.furnManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>furnManage</servlet-name>
        <url-pattern>/manage/furnManage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>customerServlet</servlet-name>
        <servlet-class>com.furniture.web.customerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerServlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>com.furniture.web.cartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>com.furniture.web.orderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/views/error/500.jsp</location>
    </error-page>

</web-app>